{"swagger":"2.0","info":{"title":"Office Management API","description":"Connects to the Office 365 Management API.","version":"1.0"},"host":"manage.office.com","basePath":"/api/v1.0","schemes":["https"],"consumes":[],"produces":[],"paths":{"/{tenant}/activity/feed/subscriptions/content":{"get":{"operationId":"ListContent","summary":"List audit log content","description":"Lists the content endpoints available.","parameters":[{"$ref":"#/parameters/Tenant"},{"$ref":"#/parameters/ContentType-Audit"},{"$ref":"#/parameters/PublisherIdentifier"},{"name":"startTime","in":"query","required":false,"type":"string","default":"2019-02-01"},{"name":"endTime","in":"query","required":false,"type":"string","default":"2019-02-10"},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json"}],"responses":{"200":{"description":"default","schema":{"$ref":"#/definitions/ResourceArray-ContentCluster"},"headers":{"Content-Length":{"description":"Content-Length","type":"integer"}}}}}},"/{tenant}/activity/feed/audit/{contentId}":{"get":{"operationId":"ListContentDetails","summary":"GetContentDetails","description":"GetContentDetails","parameters":[{"name":"tenant","in":"path","required":true,"type":"string"},{"name":"contentId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"default","schema":{"type":"string"}}}}},"/{tenant}/activity/feed/subscriptions/list":{"get":{"responses":{"default":{"description":"default","schema":{"type":"array","items":{"type":"object","properties":{"contentType":{"type":"string","description":"contentType"},"status":{"type":"string","description":"status"},"webhook":{"type":"object","properties":{"status":{"type":"string","description":"status"},"address":{"type":"string","description":"address"},"authId":{"type":"string","description":"authId"},"expiration":{"type":"string","description":"expiration"}},"description":"webhook"}}}}}},"summary":"List Subscriptions","operationId":"ListSubscriptions","description":"List subscriptions","parameters":[{"name":"tenant","in":"path","required":true,"type":"string"}]}},"/{tenant}/activity/feed/subscriptions/start":{"x-ms-notification-content":{"description":"Details for Webhook","schema":{"$ref":"#/definitions/WebhookPushResponse"}},"post":{"operationId":"StartSubscription","x-ms-trigger":"single","summary":"When an Audit event occurs","description":"If a subscription to the specified content type already exists, this operation is used to:  Update the properties of an active webhook.  Enable a webhook that was disabled because of excessive failed notifications.  Re-enable an expired webhook by specifying a later or null expiration date.  Remove a webhook.","parameters":[{"name":"tenant","in":"path","required":true,"type":"string","x-ms-summary":"Tenant ID","description":"The tenant GUID."},{"name":"contentType","in":"query","required":true,"type":"string","default":"Audit.General","x-ms-summary":"Content type (API)","description":"Must be a valid content type.","enum":["Audit.AzureActiveDirectory","Audit.Exchange","Audit.SharePoint","Audit.General","DLP.All"]},{"name":"PublisherIdentifier","in":"query","required":true,"type":"string","x-ms-summary":"Publisher identifier","description":"The tenant GUID of the vendor coding against the API. This is not the application GUID or the GUID of the customer using the application, but the GUID of the company writing the code. This parameter is used for throttling the request rate. Make sure this parameter is specified in all issued requests to get a dedicated quota. All requests received without this parameter will share the same quota."},{"name":"Content-Type","in":"header","required":false,"type":"string","default":"application/json; utf-8","description":"The content type specified in the call. Defaults to \"application/json; utf-8\".","x-ms-summary":"Content type (Request)","x-ms-visibility":"advanced"},{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"webhook":{"type":"object","properties":{"address":{"type":"string","description":"Required HTTPS endpoint that can receive notifications. A test message will be sent to the webhook to validate the webhook before creating the subscription.","x-ms-notification-url":true,"x-ms-visibility":"internal","title":"Address"},"authId":{"type":"string","description":"Optional string that will be included as the WebHook-AuthID header in notifications sent to the webhook as a means of identifying and authorizing the source of the request to the webhook.","title":"Authorization ID"},"expiration":{"type":"string","description":"Optional datetime that indicates a datetime after which notifications should no longer be sent to the webhook.","title":"Expiration","x-ms-visibility":"advanced"}},"description":"webhook","required":["address"]}},"x-ms-visibility":"advanced","required":["webhook"]},"x-ms-visibility":"advanced"}],"responses":{"200":{"description":"default","schema":{"$ref":"#/definitions/StartConfirmation"}}}}},"/{tenant}/activity/feed/subscriptions/stop":{"post":{"responses":{"default":{"description":"default","schema":{"type":"string"}}},"operationId":"StopSubscription","summary":"Stop subscription","description":"Stops the webhook subscription","parameters":[{"name":"tenant","in":"path","required":true,"type":"string"},{"name":"contentType","in":"query","required":false,"type":"string"},{"name":"PublisherIdentifier","in":"query","required":false,"type":"string"}]}}},"definitions":{"WebhookPushResponse":{"type":"array","items":{"type":"object","properties":{"clientId":{"type":"string","description":"","title":"Client ID"},"contentCreated":{"type":"string"},"contentExpiration":{"type":"string"},"contentId":{"type":"string","title":"Content ID"},"contentType":{"type":"string"},"contentUri":{"type":"string"},"tenantId":{"type":"string"}},"required":["clientId","contentCreated","contentExpiration","contentId","contentType","contentUri","tenantId"]}},"StartConfirmation":{"type":"object","properties":{"contentType":{"type":"string","description":"The content type specified in the call.","title":"contentType","x-ms-visibility":""},"status":{"type":"string","description":"The status of the subscription. If a subscription is disabled, you will not be able to list or retrieve content.","title":"status","x-ms-visibility":""},"webhook":{"type":"object","properties":{"status":{"type":"string","description":"status"},"address":{"type":"string","description":"address"},"authId":{"type":"string","description":"authId"},"expiration":{"type":"string","description":"expiration"}},"description":"webhook"}}},"ResourceArray-ContentCluster":{"type":"array","items":{"type":"object","properties":{"contentUri":{"type":"string","description":"The URL to use when retrieving the content."},"contentId":{"type":"string","description":"An opaque string that uniquely identifies the content.","title":"Content ID"},"contentType":{"type":"string","description":"Indicates the content type.","title":"Content type"},"contentCreated":{"type":"string","description":"The datetime when the content was made available.","title":"Created"},"contentExpiration":{"type":"string","description":"The datetime after which the content will no longer be available for retrieval.","title":"Expiration"}}}}},"parameters":{"Tenant":{"name":"tenant","in":"path","required":true,"type":"string","x-ms-summary":"Tenant ID","description":"Tenant ID"},"ContentType-Audit":{"name":"contentType","in":"query","required":false,"type":"string","default":"Audit.General","description":"Must be a valid content type.","x-ms-summary":"Content Type","enum":["Audit.AzureActiveDirectory","Audit.Exchange","Audit.SharePoint","Audit.General","DLP.All"]},"PublisherIdentifier":{"name":"PublisherIdentifier","in":"query","required":false,"type":"string"}},"responses":{},"securityDefinitions":{"oauth2_auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.windows.net/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"oauth2_auth":[]}],"tags":[]}